/* Serverlist+ Nebula theme
   by nebuleuse. on discord :3 */

:root {
    --background: url(https://raw.githubusercontent.com/LCN8888/serveur-list-/main/th%C3%A8me%20orange/fond%20du%20th%C3%A8me%20orange.png);
    --spectate-asteroids-color: white;
    --spectate-player-highlighting-color: white;
    --spectate-leaderboard-highlighting-color: yellow;
    --ship-icons-filter: "";
    --text-color: white;
}

body {
    background: url(https://raw.githubusercontent.com/LCN8888/serveur-list-/main/th%C3%A8me%20orange/fond%20du%20th%C3%A8me%20orange.png);
    color: black;
    font-family: "Comic Sans MS", sans-serif;
    height: 100vh;
}

.card {
    background-color: #ffffff40;
    border-color: #ffffff40;
}

.btn-outline-success {
    color: #000;
    border-color: #000;
}

.btn-outline-success:hover {
    background-color: #ffffff20;
    border-color: #000;
    color: #000
}

.btn-outline-danger {
    color: #000;
    border-color: #000;
}

.btn-outline-danger:hover {
    background-color: #ffffff30;
    border-color: #000;
    color: #000
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-brand {
    color: #000;
}

.btn-danger {
    color: #000;
    background-color: #c4a57a;
    border-color: #c4a57a;
}

.btn-danger:hover {
    color: #000;
    background-color: #c4a57a90;
    border-color: #c4a57a90;
}

.modal-content {
    background-color: #c4a57a;
}

.form-check-input:checked {
    background-color: #c4a57a;
    border-color: #c4a57a;
}

.bg-dark {
    background-color: #c4a57a !important;
}

.bg-dark:hover {
    background-color: #c4a57a90 !important;
}

.popover {
    font-family: "Comic Sans MS", sans-serif;
    background-color: #ffffff;
}

.btn:focus {
    outline-style: none;
    box-shadow: none;
}
