body {
  background-color: #09161c;
  color: #f0f0f0;
  user-select: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 33.44px;
  height: 18.72px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14.72px;
  width: 14.72px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:	#62c162;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14.72px);
  -ms-transform: translateX(14.72px);
  transform: translateX(14.72px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 18.72px;
}

.slider.round:before {
  border-radius: 50%;
}
h3 {
  display:inline;
}
a, a:visited, a:hover {
  color: rgb(100, 149, 237);
}
a:active {
  color: #00008b;
}
img {
  -webkit-user-drag: none;
  user-select: none;
}
#stats {
  position: fixed;
  top: 10pt;
  right: 10pt;
  width: 30pt;
}
#changes-warn {
  color: yellow;
}
table {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #202324;
}
td {
  width: 50vw;
  padding: 5pt;
}
select {
  color:inherit;
  cursor: pointer;
  padding:3pt 5pt;
  background:hsl(200,60%,15%);
  border:1pt solid hsl(200,60%,10%);
  vertical-align:middle;
  box-sizing:border-box
}
